# PostgreSQL
POSTGRES_DB=satellite_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# App
DB_NAME=satellite_db
DB_USER=postgres
DB_PASSWORD=postgres

# pgAdmin
PGADMIN_EMAIL=admin@bauman.ru
PGADMIN_PASSWORD=admin

# Spring profile (docker, local, prod и т.д.)
SPRING_PROFILES_ACTIVE=docker