# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp

# Allure
allure-results/
allure-report/

# OS
.DS_Store
Thumbs.db
