DB_HOST=localhost
DB_PORT=5433
DB_NAME=cosmoscan_storing
DB_USER=postgres
DB_PASS=postgres

MINIO_HOST=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=cosmoscan-works

ANALYSIS_SERVICE_URL=http://localhost:8082
